<div>
    <div class="sidebar-fixed position-fixed z-depth-5">
      <div class="list-group padding-zero list-group-flush">
        <div class="div-border white-color">
          <a class="list-group-item list-group-item-action">
            <!-- <img src="../../assets/images/sunset1.jpeg" class="img-fluid margin-right" alt="" /> -->
            <span class="hide-span">Evolance</span>
            <mdb-icon fas icon="" class="padding-left hide-span"></mdb-icon>
          </a>
        </div>

        <div class="mt-2"></div>
        <a routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"
          (click)="HomepageClick()">
          <mdb-icon fas icon="home" class="mr-2"></mdb-icon><span class="hide-span">Homepage</span>
        </a>
        <div class="divider"></div>
        <a (click)="usersClick()" routerLinkActive="active"
          class="list-group-item list-group-item-action waves-effect">
          <mdb-icon fas icon="user" class="mr-2"></mdb-icon><span class="hide-span">Users</span>
        </a>
      </div>
    </div>
  </div>

  <div class="page-bg margin-side-right">
    <mdb-card class="mb-4 dashb-hgt2 custom-bg2 wow fadeIn justify-content-between">
      <h4 class="p-3 inherit nav-link" mdbWavesEffect>
        <a class="text-white" href="" target="_blank"><strong>Dashboard</strong></a>
        <span class="pj-color"><strong>/{{this.routeText}}</strong></span>
      </h4>
    </mdb-card>
    <router-outlet></router-outlet>
  </div>



