.sidebar-fixed {
    height: 200vh;
    width: 300px;
    z-index: 1050;
    background-color: white;
    padding: 1.5rem;
    color:grey;
  }

  .margin-side-right{
    margin-left: 300px !important
  }

  .pad4 {
    padding-top: 1.0rem;
    padding-right: 1.0rem;
  }

  .custom-bg2 {
    background-color: burlywood !important;
  }
