

<p class="mt-3">{{currentUser.firstName}}</p>
<div class="card-deck">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <mdb-icon fas icon="user" size = "3x" class="mr-2"></mdb-icon>
      </mdb-card-title>
      <mdb-card-text>
        All Users {{users.length}}
      </mdb-card-text>
        </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
     <mdb-card-body>
      <mdb-card-title>
        <mdb-icon fas icon="users" size="3x" class="mr-2"></mdb-icon>
      </mdb-card-title>
      <mdb-card-text>  Customers  {{customers.length}}
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <mdb-icon fas icon="user-md" size="3x" class="mr-2"></mdb-icon>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Admin  {{admin.length}}
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
