<table mdbTable striped="true" class="w-100 ">
  <thead class="grey lighten-1 black-text">
    <tr >
        <th class="p-4"></th>
      <th *ngFor="let head of headElements"  scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let user of users; let i=index;">
      <th class="p-3" scope="row">{{i + 1}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.birthDate}}</td>
      <td>{{user.userType}}</td>
      <td> <mdb-icon fas icon="edit" class="amber-text"></mdb-icon></td>
    </tr>
  </tbody>
</table>
